/* queryform.css */

/* Background gradient */
.query_form_container {
  background: linear-gradient(135deg, #000 0%, #101030 50%, #000000 100%);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

/* Heading styling */
.query_form_heading {
  font-size: 35px;
  text-align: center;
  color: white;
  text-shadow: 2px 4px 8px gray;
  margin: 6px 0;
  padding-bottom: 8px;
}

/* Form styling */
.query_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query_form_element {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
.query_form_input{
    width: 80%;
}
.query_form_input_label {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 18px;
}

.query_form_input_name,
.query_form_input_email,
.query_form_input_textarea {
  width: 100%;
  padding: 10px;
  margin: 6px 0px;
  border: none;
  border-radius: 5px;
  background-color: #18183a;
  color: #ffffff;
}

.query_form_element textarea {
  height: 120px;
}

.query_form_button {
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3d5afe;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 4px 4px rgb(38, 29, 70);
}

.query_form_button:hover {
  background-color: #304ffe;
  /* box-shadow: rgba(208, 207, 207, 0.35) 0px 5px 15px; */
  transform: translate(4px,4px);
  box-shadow: none;
}

.query_form_error {
  color: #ff1744;
  padding-top: 3px;
  font-size: 14px;
  text-align: left;
  width: 80%;
}

.query_form_loading{
  color: #05f842;
  padding-top: 3px;
  font-size: 20px;
  text-align: left;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .query_form_element {
    flex-direction: column;
  }

  .query_form_input_textarea {
    width: 100%; /* Adjust padding to maintain width */
    height: 80px;
  }
}
