.terms_container {
  position: relative;
  top: 70px;
  padding: 30px;
  background: rgb(25, 21, 99);
  background: linear-gradient(
    90deg,
    rgba(25, 21, 99, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(32, 118, 135, 1) 100%
  );
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}

.tems_head {
  color: white;
  font-size: 45px;
  text-align: center;
  margin: 20px auto;
}

.terms_content {
  margin: 20px;
}

.terms_info {
  color: rgb(197, 205, 214);
  font-size: 24px;
  padding: 15px 10px;
}
