.footer-container {
  bottom: 0;
  /* position: fixed; */
  margin-top: 70px;
  background-color: rgba(30, 17, 61, 0.591);
  width: 100%;
  color: white;
  /* border: 2px solid; */
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px; 
}

.textsection {
  align-items: flex-start;
  /* margin: 20px auto; */
  margin-bottom: 20px;
}
.footer_terms{
  text-transform: capitalize;
  margin: 0px 20px;
}
.footer-cse {
  display: inline;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.82);
}
.svuce {
  font-size: 18px;
  padding-left: 30px;
  text-align: center;
  background-color: black;
}

.footer_heading {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 50px;
}

a {
  color: white;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.left {
  align-items: center;
  padding: 25px;
}

.icons {
  font-size: 25px;
  color: white;
  /* padding-left: 0px; */
}

@media screen and (max-width: 370px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }
}
