.event-info {
  /* max-width: 800px; */
  position: relative;
  top: 70px;
  /* bottom: 50px; */
  margin: 0 auto;
  padding: 20px;
  color: #ffffffd9;
  /* background: linear-gradient(to bottom, #0f0c29, #302b63, #2c5364); */
  /* background: url('../../assests/starysky.jpeg') repeat; */
  background: url("https://mcdn.wallpapersafari.com/medium/35/80/kIQwgW.jpg") repeat;
  /* background: url("https://c4.wallpaperflare.com/wallpaper/192/925/140/the-matrix-binary-abstract-minimalism-wallpaper-preview.jpg") no-repeat ; */
  /* background: url("../../assests/cynosure_logo.png"); */
}

.event-info-heading {
  font-size: 45px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
}

.event-info-content {
  font-size: 16px;
  line-height: 1.6;
}

.event-inst-heading {
  font-size: 30px;
  margin: 20px 0px;
  color: white;
  text-decoration: underline;
}

.event-inst-list {
  margin-top: 10px;
  padding: 0px 20px;
}

.event-inst-info {
  list-style-type: decimal;
  margin-left: 20px;
  padding: 10px 0px;
}

.topics{
  padding: 0px 20px;
}
.topic_head{
  font-size: 30px;
  margin: 20px 0px;
  text-decoration: underline;
}
.topic_text{
  padding: 10px 0px;
  font-size: 20px;
}
.topics_list{
  list-style: decimal;
}
.topic_info{
  padding: 5px;
}
.coordinator-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Center align cards */
}

.coordinator-card {
  width: calc(50% - 40px);
  margin: 0 20px 20px 0; /* Adjust margins */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.coordinator-card h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.coordinator-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  color: #333;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  color: #007bff;
}

.coordinator-head{
    margin-top: 10px;
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: underline;
}
.testimonialContainer {
  /* background-color: #646675; */
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 20px;
  border: 6px solid #043242;
}

.testimonialHeader {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 10px; /* Add margin for spacing */
}

.testimonialHeader h4 {
  margin: 0; /* Remove default margin */
}

.testimonialBody {
  text-align: justify;
}

.social-icons a {
  color: #fff;
}

.social-icons a:hover {
  color: #007bff;
}
